# OZI packaging
sig/
subprojects/ozi/
build*/
/dist/
temp/

# Utility environments
.hypothesis/
.pytest_cache/
.tox/

# coverage files
.coverage
coverage.xml
.coverage.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so